h2 Boomerang

table class="tableHeader" width="100%"
  thead align="center"
    th Name
    /th Owner
    /th Status
    /th FQDN
    /th OS
    /th OS Release
    /th Serial #
    /th Used for
    /th CI Class
    /th Virtual?
    /th Rack
  tbody
    tr
      /td = @boomerang.clientip
      /td = @server.owner
      /td = @server.lifecycle_status
      /td = @server.fqdn
      /td = @server.os
      /td = @server.osrelease
      /td = @server.serialnumber
      /td = @server.usedfor
      /td = @server.ciclass
      /- if @server.isvirtual.to_i == 1
      /  td Yes
      /- else
      /  td No
      /td = @server.rack_location

= link_to 'Edit', edit_boomerang_path(@boomerang)
= ' | '
= link_to 'Back', boomerangs_path

p
